@model BusinessLogic.Models.CreatePriceListViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Create Price List</title>
</head>
<body>
    <div class="container">
        <h1>Create Price List</h1>
        <form asp-action="Create" method="post">
            <div class="form-group">
                <label for="Name">Price List Name</label>
                <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name">
            </div>
            <div id="columns">
                @for (int i = 0; i < Model.Columns.Count; i++)
                {
                    var columnId = Guid.NewGuid();
                    <div class="form-row align-items-center mb-2 column" data-id="@columnId">
                        <input type="hidden" name="Columns[@i].Id" value="@Model.Columns[i].Id">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Column Name" name="Columns[@i].Name" value="@Model.Columns[i].Name">
                        </div>
                        <div class="col">
                            <select class="form-control" name="Columns[@i].DataType">
                                <option value="Число">Число</option>
                                <option value="Одностраничный текст">Одностраничный текст</option>
                                <option value="Многостраничный текст">Многостраничный текст</option>
                            </select>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-danger remove-column" data-id="@columnId">Remove</button>
                        </div>
                    </div>
                }
            </div>
            <button type="button" id="add-column" class="btn btn-primary">Add Column</button>
            <button type="submit" class="btn btn-success">Save</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#add-column').click(function () {
                var columnsDiv = $('#columns');
                var newColumnId = generateGuid();
                var newIndex = columnsDiv.children().length;
                var newColumnHtml = `
                    <div class="form-row align-items-center mb-2 column" data-id="${newColumnId}">
                        <input type="hidden" name="Columns[${newIndex}].Id" value="${newColumnId}">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Column Name" name="Columns[${newIndex}].Name" value="">
                        </div>
                        <div class="col">
                            <select class="form-control" name="Columns[${newIndex}].DataType">
                                <option value="Число">Число</option>
                                <option value="Одностраничный текст">Одностраничный текст</option>
                                <option value="Многостраничный текст">Многостраничный текст</option>
                            </select>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-danger remove-column" data-id="${newColumnId}">Remove</button>
                        </div>
                    </div>`;
                columnsDiv.append(newColumnHtml);
            });

            $('#columns').on('click', '.remove-column', function () {
                var idToRemove = $(this).data('id');
                $('.column[data-id="' + idToRemove + '"]').remove();
                updateColumnIndices();
            });

            function updateColumnIndices() {
                $('#columns .column').each(function (index) {
                    $(this).find('input, select, button').each(function () {
                        var nameAttr = $(this).attr('name');
                        if (nameAttr) {
                            var updatedName = nameAttr.replace(/\[.*\]/, '[' + index + ']');
                            $(this).attr('name', updatedName);
                        }
                    });
                });
            }

            function generateGuid() {
                function s4() {
                    return Math.floor((1 + Math.random()) * 0x10000).toString(16).substring(1);
                }
                return s4() + s4() + '-' + s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4() + s4();
            }
        });
    </script>
</body>
</html>
